/* .landing_custom_navbar {
  padding: 20px 0;
  
} */

.padding-right{
  padding-right: 20px;
}

.landing_custom_navbar .navbar-brand {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  line-height: 24.2px;
  text-align: left;
  padding-left: 20px;
}

.landing_custom_navbar .navbar-brand img {
  margin-right: 10px;
}
